/* Container Page */
.login-page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 80px; /* memberi jarak dari navbar */
    min-height: 100vh;
    background-color: #ffffff;
}

/* Login Card */
.login-card {
    background: #fbf0f0;
    padding: 30px 35px;
    border-radius: 20px;
    width: 90%;
    max-width: 420px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.login-button-wrapper {
    width: 100%;
    display: flex;
    justify-content: center; /* tombol ke tengah */
    margin-top: 10px;
}

/* Title */
.login-title {
    font-size: 32px;
    font-weight: 700;
    color: #100e2f;
    text-align: center;
    margin-bottom: 25px;
}

/* Input Group */
.login-input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.login-label {
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 5px;
    color: #555555;
}

.login-input {
    padding: 12px;
    border-radius: 10px;
    border: 1px solid #ccc;
    font-size: 15px;
}

/* Button */
.login-button {
    width: auto;                /* tidak full width */
    padding: 12px 40px;         /* tombol lebih bagus */
    background: #ffb800;
    color: #000;
    font-size: 18px;
    font-weight: bold;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: 0.25s ease;
}


.login-button:hover {
    background: #e5a600;
}

/* Register Link */
.login-register-text {
    margin-top: 15px;
    text-align: center;
    font-size: 14px;
}

.login-register-link {
    color: #0f4ebe;
    text-decoration: none;
    font-weight: 600;
}

.login-register-link:hover {
    text-decoration: underline;
}
